Finnimon.Stl.Test/Files/ascii-cube.stl filter=lfs diff=lfs merge=lfs -text
Finnimon.Stl.Test/Files/Cube_3d_printing_sample.stl filter=lfs diff=lfs merge=lfs -text
Finnimon.Stl.UI.Simple/Cube_3d_printing_sample.stl filter=lfs diff=lfs merge=lfs -text
Finnimon.Stl.Benchmark/Files/big.stl filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
